html{ 
    background-color: #F5F5F5;
}

header{
    text-align:center;
}
header #SIZE{
    font-weight:bold;
}

header #FORMAT{
    font-weight:bold;
}

header #SELECT{
    font-weight:bold;
}

header #OTHERS{
    font-weight:bold;
}
header nav ul {
    font-family: "Courier New";
    font-size: 15pt;
    list-style-type: none; 
    display:flex;
    width: 1000px;
    margin: 0 auto;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited { 
    color:#000000 ;   
    display: block;  
    padding:10px;    
    text-decoration: none;  
    width: 180px;   
    border: 0.5px solid black; 
  }

header h1 {
    font-family: "Times New Roman";
    line-height: 0.5em;
    font-size: 80pt;
    text-align:center;
    color: #000000;
}
    
header p {
    font-family: "Courier New";
    color: #000000;
    line-height: 1.5em;
    font-size: 20pt;
    text-align:center;
}


main.size{
    border: 1px solid #1b1a1a; 
    width:800px;
    margin:20px auto;
}

main .sizeText h3{
    font-family: "Georgia, serif";
    font-size: 20pt;
    padding-left: 20px;   
}

main .sizeText p{
    font-family: "M PLUS Rounded 1c";
    font-size: 5pt;
    width: 180px;
    padding-left: 35px;  
}

main .sizeimg{
    width:20px;
    border-left: 1px solid #1b1a1a; 
    padding-bottom: 30px;
    margin-top: -400px;
    margin-left: 250px;
}

main #Size{
    text-align:center;
}


main .format{
    border: 1px solid #1b1a1a; 
    width:800px;
    margin:20px auto;
}

main .format h3{
    font-family:"Georgia, serif";
    font-size: 35px;
    text-align:center;
}

main .format p{
    text-align:center;
}

main .format dt{
    font-family: "Sawarabi Mincho";
    padding-top: 20px;
    padding-left: 30px;
    font-size: 13pt;

}

main .format dd{
    font-family: "Sawarabi Mincho";
    width: 700px;
    margin:20px auto;
    font-size: 11pt;
}
main .format img{
    width:80%;
}

main .select{
    border: 1px solid #1b1a1a; 
    width:800px;
    margin:20px auto;
}

main .select h3{
    font-family:"Georgia, serif";
    font-size: 35px;
    text-align:center;
}

main .select p{
    font-family:"Noto Sans JP" ;
    font-size: 18px;
    padding: 20px;
}

main .select li{
    font-family:"Noto Sans JP" ;
    font-size: 15px;
    margin:30px;
    width: 700px;
}

table {
    font-family:"Noto Sans JP" ;
    border-collapse: collapse;
    width: 65%;
    margin:20px auto;
    
  }
  
  table, th, td {
    border: 1px solid black;
    height: 50px;
    padding: 30px;
  }


main .others{ 
    border: 1px solid #1b1a1a; 
    width:800px;
    margin:20px auto;
}

main .others h3{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    border-bottom: 1px solid #000000;
    width: 110px;
    margin-left: 30px;
    margin-top: 20px;
}

main .others #cat{
    width:45%;
    margin-top:-20px;
    margin-left: 420px;
}

main .others #sakura{
    width:45%;
    margin-top:-350px;
    margin-left: 20px;
}

main .others #ajisa{
    width:45%;
    margin-top: -140px;
    margin-left: 420px;
}

main .others #pen{
    width:45%;
    margin-top:-350px;
    margin-left: 20px;
}

main .others p{
    text-align:center;
    font-size: 30px;
    line-height: 2px;
    margin-bottom: 40px;
}




footer {
    padding: 10px;
    list-style-type: none;
    background-color: #000000; 
    text-align:center;
}
footer  a:link,
footer  a:visited {
    text-decoration: none; 
    color: #ffffff;
}
