@charset "UTF-8";


header h1 {
    font-family: "Times New Roman";
    font-size: 80pt;
    padding-left: 100px;
    color: #000000;
}
    
header p {
    font-family: "Courier New";
    color: #000000;
    font-size: 20pt;
    padding-top:10px;
    padding-left: 450px;
}

header h2{
    font-family: Georgia, serif;
    color: #000000;
    font-size: 60pt;
    padding-top: 10px;
    padding-left: 800px;
    padding-bottom: 60px;

}
html{
    background-color: #dadad8; 
}
main img {
    background-color: #ffffff;
    display: block;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 150px;
    padding-bottom:150px ;
  }

main div.homemain{   
    background-color: #ececea;
}
main div.homemain p{
    font-family:"Sawarabi Gothic";
    width: 800px;
    margin: auto;
    padding: 90px;
}


footer {
    padding: 10px;
    list-style-type: none;
    background-color: #000000; 
}
footer  a:link,
footer  a:visited {
    text-decoration: none; 
    color: #ffffff;
}

footer #HOME{
    font-weight:bold;
}
footer nav ul {
    font-family: "Courier New";
    font-size: 20pt;
    list-style-type: none; 
    text-align:right;
}


